<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leave.system.mapper.SysJobMapper">

    <select id="selectActiveJobs" resultType="com.leave.system.entity.SysJob">
        SELECT * FROM sys_job WHERE status = 0
    </select>

    <select id="selectJobById" resultType="com.leave.system.entity.SysJob">
        SELECT * FROM sys_job WHERE id = #{id}
    </select>

    <select id="selectAllJobs" resultType="com.leave.system.entity.SysJob">
        SELECT * FROM sys_job
    </select>

    <insert id="insertJob" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_job (job_name, job_group, invoke_target, cron_expression, status, remark, create_time, update_time)
        VALUES (#{jobName}, #{jobGroup}, #{invokeTarget}, #{cronExpression}, #{status}, #{remark}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateJob">
        UPDATE sys_job
        <set>
            <if test="jobName != null">job_name = #{jobName},</if>
            <if test="jobGroup != null">job_group = #{jobGroup},</if>
            <if test="invokeTarget != null">invoke_target = #{invokeTarget},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteJobById">
        DELETE FROM sys_job WHERE id = #{id}
    </delete>

</mapper>
