<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leave.system.mapper.SysRoleMapper">

    <select id="selectActiveRoles" resultType="SysRole">
        SELECT * FROM sys_role WHERE deleted = 0
    </select>

    <select id="selectRoleById" resultType="SysRole">
        SELECT * FROM sys_role WHERE id = #{id} AND deleted = 0
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (role_name, role_key, description, create_time, deleted)
        VALUES (#{roleName}, #{roleKey}, #{description}, #{createTime}, #{deleted})
    </insert>

    <update id="updateRole">
        UPDATE sys_role
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleKey != null">role_key = #{roleKey},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteRoleById">
        UPDATE sys_role SET deleted = 1 WHERE id = #{id}
    </delete>

</mapper>
